@model double
@{
    ViewData["Title"] = "Átlagok";
}

<div class="text-center">
    Átalag: @Model
    <br>
    Kredit index: @ViewBag.CreditIndex
    <br>
    Súlyozott tanulmányi átlag : @ViewBag.WeightedAvarge
    <br>
    Göngyölt átlag: @ViewBag.CurledAverage
    <br>
    Teljesített Kredit a jelenlegi félévben: @ViewBag.SemesterKredit
    <br>
    Összes Kredit: @ViewBag.SumKredit
    <br></br>
    

</div>
